[Unit]
Description=Meshviewer collector
Documentation=https://github.com/genofire/meshviewer-collector
After=network.target

[Service]
User=http
Group=http
ExecStart=/usr/local/bin/meshviewer-collector collect --config /opt/meshviewer-collector/config.toml
ExecReload=/usr/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
